[submodule "submodules/octopress-tag-pages"]
	path = plugins/tag-pages
	url = https://github.com/robbyedwards/octopress-tag-pages.git
[submodule "submodules/octopress-tag-cloud"]
	path = plugins/tag-cloud
	url = https://github.com/robbyedwards/octopress-tag-cloud.git
[submodule "plugins/plantuml"]
	path = plugins/plantuml
	url = https://github.com/yjpark/jekyll-plantuml.git
