* + table {
  margin-bottom: 1.5em;
  th {
    background: #e7e3e7;
  }
  th, td {
    border-style: solid;
    border-width: 1px;
    border-color: #e7e3e7;
    padding-left: 1em;
    padding-right: 1em;
  }
}